:root {
    --font-family-main: consolas, 'Times New Roman', serif;

    font-size: min(100vw, 768px);
    
    --mobile-breakpoint: 768px;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
