.title {
    color: var(--primary-color);
}

.text {
    color: var(--primary-color);
}

.primary_inverted {
    color: var(--inverted-primary-color);
}


.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.title_size_small {
    font-size: 1.5em;
}

.title_size_medium {
    font-size: 2em;
}

.title_size_large {
    font-size: 2.5em;
}

.text_size_medium {
    font-size: 1em;
}

.text_size_large {
    font-size: 1.5em;
}
