.postCard {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: 0 0 50px -20px rgb(255 255 255 / 20%);
}

.image {
    width: 10em;
    height: 10em;
    margin: 2em 0;
}

.date {
    position: absolute;
    right: 1em;
    top: 1em;
}