:root {
    --bg-color: #FFF;
    --inverted-bg-color: #1D1B1B;
    --primary-color:  #1D1B1B;
    --secondary-color: #FFF;
    --inverted-primary-color:  #FFF;
    --inverted-secondary-color: #049604;
}